@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
.carrito{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  max-width: 95%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 0.5;
  text-align: center;
  transition: all 0.25s;

  }
  
  .InfoCart{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descri-prod{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
    gap: 20px;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
  }
  
  .descri-prod img{
    height: 100%;
  }
  
  .descri-prod h3{
    width: 130px;
  }

  
  #totales{
    text-align: center;
  }
  
  #carrito-vacio{
    text-align: center;
  }
  .btn-comprar{
    width: 140px;
    height: 50px;
    background: #7d2ae8;
    color: white;
  }
  .fa-solid {
    font-size: 8px;
    margin: 0.5rem;
  } 
  .InfoCart{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 20px;
  }

  @media (max-width: 568px) {
    .carrito{
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 300px;
      margin-left: 1rem;
    }
    .InfoCart{
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-items: center;
      align-items: center;
      gap: 20px;
      font-size: 10px;margin: 0.5rem;
    }
    .descri-prod{
      width: 100%;
      height: 50px;
      gap: 10px;
    }

    .descri-prod img{
      width: 50px;
      height: 50px;

    }
    .descri-prod h3 span{
      width: auto;
    }
  form{
    display: flex;
  
  }
form .btn{
  width: 20px;
  height: 20px;
}
.fa-solid {
font-size: 8px;
}
.btn-comprar{
  width: 80px;
  height: 20px;
  background: #7d2ae8;
  color: white;
}
  }

  @media (min-width: 576px) and (max-width: 768px) {

    .carrito{
      width: 90%;
    }

    .InfoCart{
      width: 90%;
    }
    .descri-prod{
      width: 90%;
    }



  }